<html>

<head>
    <title>Blog</title>
</head>

<body>

    <div>
        <h1><a href="https://www.tecmundo.com.br/video-game-e-jogos/88016-5-games-pagam-mundo-esports-video.htm"><strong>Os 3 games que mais pagam no mundo dos eSports</strong></a></h1>
        <p> publicado: 19/10/2018, 16:11</p>
        <h2>3º Lugar: Counter Strike Global Ofensive</h2>
        <p>Quem acha que Counter Strike é um jogo do passado precisa rever os seus conceitos.A maior prova de que o game continua ativo são os números dele nos eSports. O FPS já teve 452torneios neste ano e premiou os campeões com 4 milhões e 48 mil dólares. Vale dizer que CS GOé o título com mais jogadores ativos: são 2114 atiradores.</p>
    </div>

    <div>
        <h2>2º Lugar: LOL</h2>
        <p>A medalha de prata fica com outro MOBA. League of Legends segue forte no mercado econta com 1616 atletas dedicados. Em 2015, 232 campeonatos já foram realizados profissionalmentee renderam um total de 4 mihões e 622 mil dólares .</p>
    </div>

</body>

</html>
